// reset css
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
} 

html, body {
    height: 100%;
}

body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
    font-family: 'Heebo', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

// Styles
$bg-light: #fbc7d468;
$bg-dark: #9796f0db;
$white: #fff;
$border-color: #e6e6e6;
$tb-red: #FE4E46;
$tb-orange: #FBC023;
$tb-green: #7DD220;
$dark-gray: #afb2c3;
$light-gray: #f1f1f1;
$link-color: #828594;
$active-link: #9957AB;
$label-purple: #8a6aff; 
$label-red: #f93722fe;
$r-red: #f9e2e2;
$r-blue: #e2ebf9;
$r-purple: #efe2f9;
$r-yellow: #fff1d6;
$r-green: #dbf7dd;
$r-pink: #f9e2f8;

@mixin flex-display($display, $align-items, $justify-content) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
}

body{
    background: $bg-dark;  
    background: linear-gradient(to right, $bg-light, $bg-dark); 
    @include flex-display(flex, center, center);
    font-family: 'Raleway', sans-serif;
}

.container{
    background-color: $white;
    width: 90%;
    height: 90%;
    border-radius: 7px;
    display: flex;

    .sections{
        flex: 2;
        height: 100%;
        border-right: 1px solid $border-color;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        overflow: hidden;
        position: relative;

        header{
            padding: 15px;
            @include flex-display(flex, center, space-between);

            .title-bar{
                span{
                    width: 10px;
                    height: 10px;
                    background-color: $tb-orange;
                    border-radius: 50%;
                    position: absolute;
                    margin-left: 10px;
                    cursor: pointer;

                    &::before, &::after{
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        position: absolute;
                    }

                    &::before{
                        background-color: $tb-red;
                        right: 13px;
                    }

                    &::after{
                        background-color: $tb-green;
                        left: 13px;
                    }
                }
            }

            .close-button{
                position: relative;
                
                span{
                    cursor: pointer;
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: $dark-gray transparent  transparent $dark-gray;
                    transform: rotate(-45deg);
                    
                    &:nth-child(2){
                        right: -3px;
                    }
                }
            }
        }

        .menu-items{
            margin-top: 100px;
            ul{
                list-style: none;
                padding: 0;

                li{
                    @include flex-display(flex, center, normal);
                    padding: 10px 10px 10px 40px ;
                    width: 100%;
                    cursor: pointer;

                    &:last-child{
                        background-color: lighten($border-color, 4%);
                        position: absolute;
                        bottom: 0;
                        color: darken($dark-gray, 20%);

                        &:hover{
                            color: darken($dark-gray, 45%);
                        }
                    }
                    
                    &:not(:last-child):hover{
                        background-color: lighten($border-color, 4%);
                    }

                    svg{
                        width: 16px;
                        margin-right: 10px;
                    }
                    span{
                        font-size: .9rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    main{
        padding: 0 10px 40px 40px;
        flex: 6;
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;

        .links{
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: $white;
            padding: 20px 0;
            overflow: scroll;

            ul{
                list-style: none;
                display: flex;

                li{
                    padding: 20px 20px 11px 20px;
                    a{
                        text-decoration: none;
                        color: $link-color;
                        font-weight: 500;
                        font-size: .8rem;
                        padding: 15px 25px;

                        &:hover{
                            border-bottom: 2px solid lighten($active-link, 35%);
                        }
                    }

                    .active{
                        color: $active-link;
                        border-bottom: 2px solid $active-link;
                    }
                }
            }
        }

        h2{
            letter-spacing: 1px;
            line-height: 2.5;
            color: darken($active-link, 25%);
            border-bottom: 1px solid $border-color; 
            margin-top: 15px;
        }

        .tasks{
            .task{
                margin: 2px 0;
                padding: 5px;
                position: relative;
                cursor: pointer;

                &:hover{
                    margin-right: -3px;

                    label{
                        margin-left: 28px;
                    }

                    span{
                        margin-left: 3px;
                    }
                }

                input{
                    appearance: none;
                    -webkit-appearance: none;
                    position: absolute;
                    opacity: 0;

                    &:checked + span:after {
                        background: $active-link;
                        color: $white;
                        border: 0;
                    }

                    &:focus + label:after {
                        outline: 1px auto $border-color;
                    }
                }

                span{
                    position: absolute;
                    top: 10px;
                    width: 15px;
                    height: 14px;

                    &:after {
                        content: ' ';
                        border: 1px solid darken($border-color, 10%);
                        border-radius: 2px;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transition: background .1s linear;
                    }

                    svg{
                        position: absolute;
                        z-index: 2;
                    }
                }

                .purple, .red{
                    position: absolute;
                    right: 40px;
                    font-size: .5rem;
                    font-weight: 500;
                    padding: 0 7px;
                    border-radius: 20px;
                }

                .purple{
                    background-color: lighten($label-purple, 25%);
                    color: $label-purple;
                }

                .red{
                    color: $label-red;
                    background-color: lighten($label-red, 37%);
                }

                label{
                   font-size: .9rem;
                   margin-left: 25px; 
                   cursor: pointer;
                }
            }
        }
    }

    .reminder{
        flex: 2;
        height: 100%;
        border-left: 1px solid $border-color;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        overflow: scroll;
        padding: 20px 30px;

        h3{
            margin-top: 30px;
            color: darken($dark-gray, 30%);
        }

        .cards{
            margin-top: 20px;
            padding: 5px;
            .card{
                width: 100%;
                height: 100px;
                margin: 10px 0;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
                @include flex-display(flex, center, normal);
                
                &:hover{
                    svg{
                        width: 50px;
                    }
                }

               svg{
                    width: 45px;
                    margin-right: 20px;
                    transition: .2s;
               }

               .title{
                    h4{
                        font-size: 1rem;
                        color: darken($dark-gray, 35%);
                        font-weight: 500;
                    }

                    .time{
                        font-size: .7rem;
                        color: $link-color;
                    }
               }
            }

            .red{
                background-color: $r-red;
            }

            .blue{
                background-color: $r-blue;
            }

            .purple{
                background-color: $r-purple;
            }

            .yellow{
                background-color: $r-yellow;
            }

            .green{
                background-color: $r-green;
            }

            .pink{
                background-color: $r-pink;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .sections{
        display: none;
    }

    main{
        .links{
            ul{
                padding: 0;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .container{
        flex-direction: column;
        height: 100%;
        width: 100%;

        main{
            flex: 3;
            .links{
                ul{
                    justify-content: center;

                    li{
                        padding: 20px 5px 11px 5px;

                        a{
                            font-size: .7rem;
                        }
                    }
                }
            }
        }

        .reminder{
            text-align: center;
            .cards{
                width: 70%;
                margin: 0 auto;

                .card{
                    height: 130px;
                    justify-content: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
   .container{
        main{
            h2{
                font-size: 1.3rem;
            }
            .links{
                ul{
                    padding-top: 10px;
                    li{
                        padding: 0;

                        a{
                            padding: 15px 20px;
                        }
                    }
                }
            }
        }

        .reminder{
            .cards{
                width: 100%;
            }
        }
   }
}